%footer
  %ul.links
    %li.chat
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_chat.jpg'}" }
      %div chat support
    %li.contact-us
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_contact-us.jpg'}" }
      %div contact us
    %li.about-us
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_about-us.jpg'}" }
      %div about us  
    %li.fan
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_facebook.jpg'}" }
      %div become a fan
    %li.follow
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_twitter.jpg'}" }
      %div follow us
    %li.restaurants
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_owner.jpg'}" }
      %div restaurant owners
    %li.mobile 
      %a
        %img{ :alt => "", :src => "#{asset_path 'mockup/footer_mobile.jpg'}" }
      %div mobile
  %ul.siteInformation
    %li.delivery-areas
      .header Delivery Areas
      %ul
        %li 
          %a Austin, TX Delivery
        %li 
          %a Bloomington, IN Delivery
        %li 
          %a Madison, WI Delivery
        %li 
          %a Ann Arbor, MI Delivery
    %li.site-information
      .header Site Information
      %ul
        %li 
          %a &copy;2011 Mr Delivery, LLC
        %li 
          %a All Rights Reserved
        %li 
          %a Privacy Policy
        %li 
          %a Site Map
    %li.what-new
      .header What's New      
      %ul
        %li 
          %a Delivery Coupons
        %li 
          %a New Items from Austin Java
        %li 
          %a Final Special!
        %li 
          %a New FB page for Mr. D
        
  