<script type="text/javascript">
  $(document).ready(function(){

  });
</script>

<header>
  <div class="help container" style="display:none;"><%=raw @spec[:object_header_spec]%></div>
  
  <ul>
    <li>
      <!--  Logo -->
      <img src="<%= asset_path 'mockup/mrd_logo.png' %>" />
    </li>
    <li>
      <!--  Order Tabs -->
      <ul class="orderTabs container">
        <li class="restaurantByAddress container" route="restaurants/address/form">
          <div class="help container" style="display:none;"><%=raw @spec[:feature_restaurants_by_address]%></div>
          <img src="<%= asset_path 'mockup/restaurant_tab.png' %>" />
        </li>
        <li class="restaurantByFranchise container" route="restaurants/franchise/form">
          <div class="help container" style="display:none;"><%=raw @spec[:feature_restaurants_by_franchise]%></div>
          <img src="<%= asset_path 'mockup/restaurant_franchise_tab.png' %>" />
        </li>
        <li class="orderHistory container">
          <div class="help container" style="display:none;"><%=raw @spec[:feature_order_history]%></div>
          <img src="<%= asset_path 'mockup/past_orders_tab.png' %>" />
        </li>
      </ul>
    </li>
    <li>
      <!--  User / Session -->
      <ul class="userLinks container">
        <div class="help container" style="display:none;"><%=raw @spec[:feature_login_spec]%><%=raw @spec[:feature_create_account_spec]%></div>
        <img src="<%= asset_path 'mockup/header_login_buttons.png' %>" />
      </ul>

      <div class="chatButton container">
        <div class="help container" style="display:none;"><%=raw @spec[:feature_chat_spec]%></div>
        <img src="<%= asset_path 'mockup/header_chat_button.png' %>" />
      </div>

    </li>
  </ul>

  

  
	<div class="clearBoth"> </div>
</header>