%section#menuSelector
  %ul
    %li#restaurantDescription
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_description.png'}"}/
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_about.png'}"}/
    %li#restaurantInfo
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_hours.png'}"}/
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_restaurant_ordering_info.png'}"}/
    %li#restaurantMenu
      %div
        %ul
          %li
            %img{:alt => "", :src => "#{asset_path 'mockup/menu_type_tab.png'}"}/
          %li
            %img{:alt => "", :src => "#{asset_path 'mockup/menu_type_tab2.png'}"}/
      %div
        %ul
          %li
            %img{:alt => "", :src => "#{asset_path 'mockup/menu_hours.png'}"}/
          %li
            %img{:alt => "", :src => "#{asset_path 'mockup/menu_more_sections.png'}"}/
      %div
        %img{:alt => "", :src => "#{asset_path 'mockup/menu_sample.png'}"}/
    %li#menuCart
      %img{:alt => "", :src => "#{asset_path 'mockup/menu_cart.png'}"}
    %li#menuCartFull
      %img{:alt => "", :src => "#{asset_path 'mockup/menu_cart_full.png'}"}
