%section#restaurantSelector
  %ul
    %li#restaurantGallery
      %img{:alt => "", :src => "#{asset_path 'mockup/restaurants_gallery.png'}"}/
    %li#restaurantList
      %img{:alt => "", :src => "#{asset_path 'mockup/restaurants_list.png'}"}/
    %li#restaurantsArrow
      %img{:alt => "", :src => "#{asset_path 'mockup/restaurants_arrow.png'}"}/
    %li.restaurantInfo.contain
      #restaurantCart
        %img{:alt => "", :src => "#{asset_path 'mockup/restaurants_cart_preview.png'}"}/
      #restaurantInfo
        %img{:alt => "", :src => "#{asset_path 'mockup/restaurant_info.png'}"}/
      #restaurantPreviewMenu
        %img{:alt => "", :src => "#{asset_path 'mockup/restaurant_preview_menu.png'}"}/
