<style type="text/css">

</style>

<section id="restaurantSelector">
  <ul>
    <li id="restaurantGallery">
      <img src="<%= asset_path 'mockup/restaurants_gallery.png' %>" alt="" />
    </li>
    <li id="restaurantList">
      <img src="<%= asset_path 'mockup/restaurants_list.png' %>" alt="" />
    </li>
    <li id="restaurantsArrow">
      <img src="<%= asset_path 'mockup/restaurants_arrow.png' %>" alt="" />
    </li>
    <li class="restaurantInfo contain">
      <div id="restaurantCart"><img src="<%= asset_path 'mockup/restaurants_cart_preview.png' %>" alt="" /></div>
      <div id="restaurantInfo"><img src="<%= asset_path 'mockup/restaurant_info.png' %>" alt="" /></div>
      <div id="restaurantPreviewMenu"><img src="<%= asset_path 'mockup/restaurant_preview_menu.png' %>" alt="" /></div>
    </li>
  </ul>
</section>
