<!-- Home Page / Front Page -->
<% content_for :head do%>

<% end %>

<!-- Guiders Shelf -->
<div class="topLeftSlideOut">
  <a class="guiderHandle"  route="#">Guiders
  <ul><span>Guiders</span>
     <li route="javascript:guider.show('header_first')">Header</li>
     <span>Search Restaurants:</span>
     <li route="javascript:guider.show('addressForm_first')">by Address</li>
     <li route="javascript:guider.show('header_first')">by Franchise[todo]</li>
     <span>Fill Cart:</span>
     <li route="javascript:guider.show('header_first')">by Order History[todo]</li>
     <li route="javascript:guider.show('header_first')">by Menu Preview[todo]</li>
     <li route="javascript:guider.show('header_first')">by Restaurant Menu[todo]</li>
     <span>Checkout and Confirm:</span>
     <li route="javascript:guider.show('header_first')">by Credit Card[todo]</li>
     <li route="javascript:guider.show('header_first')">by Cash[todo]</li>
     
  </ul>
</div>

<!-- Test Shelf -->
<div id="testShelf" class="bottomLeftSlideOut">
  <a class="viewStatesHandle" href="#">View States:</a>

  <ul><span>Header Base</span>
    <li route="javascript:app.customerOrder.loginWithCredentials()">Login (todo)</li>
    <li route="javascript:app.customerOrder.createAccount()">Create Account (todo)</li>
  </ul>
  
  <ul><span>Welcome</span>
    <li>Search Restaurants
      <div route="restaurants/address/form">[by Address]</div>
      <div route="restaurants/franchise/form">[by Franchise]</div>
    </li>
    <li>History
      <div route="orderHistory">[by Order History]</div>
    </li>
  </ul>

  <ul><span>Restaurants by Address</span>
    <li>Select Restaurant
      <div route="restaurants/address/select/list">[List]</div>
      <div route="restaurants/address/select/gallery">[Gallery]</div>
    </li>
    <li>Select with Info
      <div route="restaurants/address/select+Info/list">[List]</div>
      <div route="restaurants/address/select+Info/gallery">[Gallery]</div>
    </li>
    <li>Select with Preview
      <div route="restaurants/address/select+PreviewMenu/list">[List]</div>
      <div route="restaurants/address/select+PreviewMenu/gallery">[Gallery]</div>
    </li>
    <li>Select with Cart
      <div route="restaurants/address/select+Cart/list">[List]</div>
      <div route="restaurants/address/select+Cart/gallery">[Gallery]</div>
    </li>
    <li>Select with Info, Cart
      <div route="restaurants/address/select+Info+Cart/list">[List]</div>
      <div route="restaurants/address/select+Info+Cart/gallery">[Gallery]</div>
    </li>
    <li>Select with Preview, Cart
      <div route="restaurants/address/select+PreviewMenu+Cart/list">[List]</div>
      <div route="restaurants/address/select+PreviewMenu+Cart/gallery">[Gallery]</div>
    </li>
  </ul>

  <ul><span>Restaurants by Franchise</span>
    <li>Select Restaurant
      <div route="restaurants/franchise/select/list">[List]</div>
      <div route="restaurants/franchise/select/gallery">[Gallery]</div>
    </li>
    <li>Select with Info
      <div route="restaurants/franchise/select+Info/list">[List]</div>
      <div route="restaurants/franchise/select+Info/gallery">[Gallery]</div>
    </li>
    <li>Select with Preview
      <div route="restaurants/franchise/select+PreviewMenu/list">[List]</div>
      <div route="restaurants/franchise/select+PreviewMenu/gallery">[Gallery]</div>
    </li>
    <li>Select with Cart
      <div route="restaurants/franchise/select+Cart/list">[List]</div>
      <div route="restaurants/franchise/select+Cart/gallery">[Gallery]</div>
    </li>
    <li>Select with Info, Cart
      <div route="restaurants/franchise/select+Info+Cart/list">[List]</div>
      <div route="restaurants/franchise/select+Info+Cart/gallery">[Gallery]</div>
    </li>
    <li>Select with Preview, Cart
      <div route="restaurants/franchise/select+PreviewMenu+Cart/list">[List]</div>
      <div route="restaurants/franchise/select+PreviewMenu+Cart/gallery">[Gallery]</div>
    </li>
  </ul>
  
  <ul><span>Menu Items</span>
    <li>Select Menu Item
      <div route="menuitems/select+PreviewMenu+Cart/list">[List]</div>
      <div route="menuitems/select+PreviewMenu+Cart/gallery">[Gallery]</div>
      
      <div route="javascript:app.customerOrder.set({state:'anonymous.menuitems.selectMenuItemByRestaurant'})">[by Restaurant]</div>
      <div route="javascript:app.customerOrder.set({state:'anonymous.menuitems.selectMenuItemByRestaurantWithFullCart'})">[with Full Cart]</div>
      <div route="javascript:app.customerOrder.set({state:'anonymous.menuitems.selectMenuItemOptions'})">[Options]</div>
    </li>
    <li>View Restaurant Info
      <div route="javascript:app.customerOrder.set({state:'anonymous.menuitems.viewRestaurantInfo'})">[Text]</div>
    </li>
  </ul>

  <ul><span>Checkout</span>
    <li route="javascript:app.customerOrder.inputDeliveryAndPaymentInformation()">Input Delivery and Payment Information</li>
  </ul>

  <ul><span>Confirm</span>
    <li route="javascript:app.customerOrder.selectOrderPurchaseConfirmation()">Select Order Purchase Confirmation</li>
  </ul>
   
</div>



<!-- Input - Addressed, based on Building Type from Customer -->
<!-- Output - Restaurant Page Loaded -->
<%=render :partial => 'address_form'%>
<%=render :partial => 'franchise_form'%>
<%=render :partial => 'restaurant_search_header'%>
<%=render :partial => 'menu_header'%>

<!-- Featured Restuarants or Menu Items -->
<%=render :partial => 'featured_product'%>
<%=render :partial => 'restaurant_select'%>
<%=render :partial => 'menu_select'%>
<%=render :partial => 'restaurant_info'%>


<!-- Mr Delivery Story -->
<%=render :partial => 'company_story'%>

<!-- New Restaurants or Menu Items -->
<%=render :partial => 'new_product'%>
